<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="shortcut icon" href="./images/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="logo" title="University Management System">
            <img src="../static/images/logo.png" alt=""> 
            <h2>U<span class="danger">M</span>S</h2>
        </div>
        <div class="navbar">
            <a href="/index" class="active">
                <span class="material-icons-sharp">home</span>
                <h3>Home</h3>
            </a>
            {%if role=='admin' or role==1 %}
                <a href="/students" onclick="timeTableAll()">
                    <span class="material-icons-sharp">today</span>
                    <h3>Students</h3>
                </a> 
                <a href="/add">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Add Student</h3>
                </a>
            {%endif%}
            <a href="/attendance">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Attendance</h3>
            </a>
            
            <a href="/password">
                <span class="material-icons-sharp">password</span>
                <h3>Change Password</h3>
            </a>
            <a href="/logout">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a>
        </div>
        <div id="profile-btn">
            <span class="material-icons-sharp">person</span>
        </div>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        
    </header>

    <main style="margin: 0;">
        <div class="timetable active" id="timetable">
            <table>
                <thead>
                    <tr>
                        <th>Serial number </th>
                        <th>Course Name</th>
                        <th>Course description</th>
                        <th>Instructor</th>
                    </tr>
                </thead>
                <tbody> 
                    {%for course in courses%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{course[0]|capitalize}}</td>
                            <td>{{course[1]|capitalize}}</td>
                            <td>{{course[2]|capitalize}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>

</body>

<script src="../static/js/timeTable.js"></script>
<script src="../static/js/app.js"></script>
</html>



